.header {
  position: absolute;
  width: 100%;
  @include position(fixed, 0, 0, 100%, null);
  z-index: 10;

  background-color: var(--primary-bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ececec;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  > .container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
