body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  &.modal-open {
    overflow: hidden;
  }

  &.menu-open {
    overflow: hidden;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}
